body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Sen', sans-serif;
    align-items: center;
}

.information-box {
    width: 40vw;
    float: left;
    height: 100vh;
    position: fixed;
    background-color: #ffe6e6;
}

.information-header {
    padding-top: 5vh;
    padding-left: 40px;
}

.information-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
}

.action-box {
    width: 60vw;
    float: right;
    height: 100vh;
}

.splash-header {
    margin-top: 35vh;
    text-align: center;
}

.patient-header {
    padding-top: 5vh;
    padding-left: 40px;
}

.patient-button {
    background-image: linear-gradient(to bottom right, #3399ff, #0066ff);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.patient-button:hover {
    border: 2px solid #3399ff;
    background-color: white;
    background-image: none;
    color: #0066ff;
}

.professional-button {
    background-image: linear-gradient(to bottom right, #00cc00, #339933);
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    font-weight: bold;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.professional-button:hover {
    border: 2px solid #00cc00;
    background-color: white;
    background-image: none;
    color: #339933;
}

.information-link {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    padding-bottom: 2px;
    border-bottom: 2px solid black;

}

.information-link:hover {
    text-decoration: none;
    color: #ffe6e6;
    padding-bottom: 2px;
    background-color: #696969;
    border-bottom: 2px solid black;
}

table {
    padding-top: 5vh;
    padding-left: 36px;
    font-size: 20px;
    width: 50vw;
}

td {
    padding-bottom: 25px;
}

.patient-table-left {
    vertical-align: top;
    width: 35%;
    font-weight: bold;
}

.patient-input {
    height: 20px;
    font-size: 20px;
    font-family: 'Sen', sans-serif !important;
    border: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

select {
    height: 30px;
    width: 100px;
    font-size: 20px;
    -webkit-appearance: none;
    font-family: 'Sen', sans-serif !important;
    border: 0px solid white;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: white;
    outline: none;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.patient-input:focus {
    height: 20px;
    font-size: 20px;
    font-family: 'Sen', sans-serif !important;
    border: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    outline: none;
}