body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Sen', sans-serif;
    align-items: center;
}

.information-box {
    width: 40vw;
    float: left;
    height: 100vh;
    position: fixed;
    background-color: #ffe6e6;
}

.information-header {
    padding-top: 5vh;
    padding-left: 40px;
    padding-right: 40px;
}

.information-expand {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 1.5;
    display: none;
}

.information-expand:hover {
    color: #ffe6e6;
    background-color: #696969;
    border-bottom: 2px solid black;
}

.portal-header {
    padding-top: 5vh;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.information-paragraph {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.5;
}

.information-bullets {
    padding-left: 60px;
    padding-right: 40px;
    line-height: 1.7;
}

.action-box {
    width: 60vw;
    float: right;
    height: 100vh;
}

.splash-header {
    margin-top: 35vh;
    text-align: center;
}

.patient-header {
    padding-top: 5vh;
    padding-left: 40px;
}

.patient-button {
    background-image: linear-gradient(to bottom right, #3399ff, #0066ff);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.patient-button:hover {
    border: 2px solid #3399ff;
    background-color: white;
    background-image: none;
    color: #0066ff;
}

.edit-button {
    background-image: linear-gradient(to bottom right, #3399ff, #0066ff);
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.edit-button:hover {
    border: 2px solid #3399ff;
    background-color: white;
    background-image: none;
    color: #0066ff;
}

.professional-button {
    background-image: linear-gradient(to bottom right, #00cc00, #339933);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.professional-button:hover {
    border: 2px solid #00cc00;
    background-color: white;
    background-image: none;
    color: #339933;
}

.information-link {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}

.information-link:hover {
    text-decoration: none;
    color: #ffe6e6;
    padding-bottom: 2px;
    background-color: #696969;
    border-bottom: 2px solid black;
}

table {
    padding-top: 5vh;
    padding-left: 36px;
    font-size: 20px;
    width: 50vw;
}

#medical-table {
    width: 100vw;
    padding-top: 2vh;
    padding-left: 36px;
    padding-right: 36px;
}

th {
    text-align: left !important;
    padding-bottom: 10px;
}

#registration-table td {
    padding-bottom: 40px;
}

#medical-table td {
    padding-bottom: 10px;
}

.patient-table-left {
    vertical-align: top;
    padding-left: 20px;
    width: 35%;
    font-weight: bold;
}

label {
    line-height: 1.5 !important;
    display: block;
    margin-bottom: 5px;
}

.patient-input {
    height: 20px;
    font-size: 20px;
    font-family: 'Sen', sans-serif !important;
    border: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 2px solid black;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    outline: none;
}

.doctor-input {
    height: 20px;
    font-size: 20px;
    font-family: 'Sen', sans-serif !important;
    border: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    border-bottom: 2px solid black;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    outline: none;
    width: 175px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.patient-input[type="date"] {
    width: 110px;
}

.patient-input-address {
    height: 20px;
    font-size: 20px;
    font-family: 'Sen', sans-serif !important;
    border: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    outline: none;
}

.patient-input:focus {
    border: 0px;
    border-bottom: 2px solid gray;
    outline: none;
}

.parent-info {
    display: none;
}

#info-password {
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 15%;
}

#auto-password {
    font-size: 30px !important;
    font-weight: bold;
    margin-left: 30%;
    text-align: center;
    width: 40%;
    border-radius: 5px;
    letter-spacing: 7px;
    background-color: #ffe6e6;
}

#personal-information-box {
    display: none;
}

#appointments-box {
    display: none;
}

#results-box {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .information-header {
        margin-top: 0px;
    }

    .information-paragraph {
        display: none;
        width: 0px;
        height: 0px;
    }

    .information-link {
        display: none;
    }

    .information-expand {
        display: inline-flex;
        margin-bottom: 20px;
    }

    .information-box {
        width: 100vw !important;
        height: auto !important;
        float: none;
        position: sticky;
        top: 0;
        margin-top: 0px;
    }

    .action-box {
        width: 100vw !important;
        float: none;
        position: absolute;
    }
}